<h1>Unlockables</h1><br/>
            <p>Is this what you were thinking?</p>
                      <div class="row-fluid">
<table class="table table-hover">
  <thead>
                  <tr>
                    <th>Item</th>
                    <th>Product Type</th>
                    <th>Unlockable</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Cool Tee #1</td>
                    <td>Shirt</td>
                    <td><a href="#">Generate</a></td>
                  </tr>
                  <tr>
                    <td>Cool Scarf</td>
                    <td>Accessory</td>
                    <td><a href="#">Generate</a></td>
                  </tr>
                  <tr>
                    <td>Cool Sweater</td>
                    <td>Outerwear</td>
                    <td><a href="#">Generate</a></td>
                  </tr>
                </tbody>
  </table>
          </div>