<p>LOOPJOY SOFTWARE</p>

<p>END USER LICENSE AGREEMENT</p>

<p>PLEASE READ THE FOLLOWING CAREFULLY BEFORE DOWNLOADING AND/OR USING THE SOFTWARE. </p>

<p>By clicking the "accept" or "ok" button, or downloading, installing and/or using the LoopJoy mobile Software (as defined below) “you” or “Licensee” expressly acknowledge and agree that you are entering into a legal agreement with Loopjoy (“LoopJoy”, "Company", "we", "us" or "our"), and have understood and agree to comply with, and be legally bound by, the terms and conditions of this End User License Agreement ("Agreement"). You hereby waive any applicable rights to require an original (non-electronic) signature or delivery or retention of non-electronic records, to the extent not prohibited under applicable law. If you do not agree to be bound by this Agreement please do not download, install and/or use the Software.Each of LoopJoy and Licensee, a "Party" and together the "Parties".</p>

<p>WHEREAS, Licensee is the owner of the mobile software application [insert name of app and link to AppStore] for mobile platform (the "App"); and</p>

<p>WHEREAS, the Company has developed certain proprietary software as a service software which in conjunction with the App will allow for in-app purchases by the App's users of goods bearing the Licensee's artwork (the "Software"); and</p>

<p>WHEREAS, the Parties wish to collaborate and incorporate the Software into the App, all in accordance with and subject to the terms of this Agreement. </p>

<p>NOW, THEREFORE, the Parties hereto, intending to be legally bound, hereby agree as follows:</p>

<p><b>1. License Grant. </b></p>

<p>1.1. Subject to the terms and conditions contained in this Agreement, LoopJoy hereby grants Licensee a limited, non-transferable, non-sublicensable, non-exclusive, royalty free license to incorporate the Software within the App, solely in order to add the Software's functionality to the App.</p>

<p>1.2. <b>License Restrictions. </b>Licensee may not directly or indirectly, and shall not permit any third party to: (i) use or access the Software, except under the terms and conditions of this Agreement; (ii) alter, merge, adapt, modify, translate, reverse engineer, decompile, disassemble or otherwise derive, or attempt to derive, the source code of the Software or reduce the Software to a human-perceivable form (except to the extent that this restriction is expressly prohibited by law); (iii) create derivative works based upon the Software; (iv) sell, rent, lease, transfer, sublicense, or otherwise transfer or distribute rights to the Software (except to the extent expressly permitted herein); (v) copy the Software (except for back-up or archival purposes); (vi) remove any proprietary notices or labels on or affixed to the Software or any copies thereof; (vii) use the Software to develop any product other than your App; (viii) use the Software to develop any software or product which is the same as or similar to the Software; (ix) interfere with or disrupt the integrity or performance of the Software; (x) work around any technical limitations in the Software, or use any tool to enable features or functionalities that are otherwise disabled in the Software, or (xi) use the Software for any unlawful purpose, or one that could associate LoopJoy with any improper or inappropriate purpose. Licensee shall use all reasonable efforts to prevent any unauthorized access to, or use of, the Software. Any action taken by Licensee which is prohibited by this Agreement shall immediately terminate Licensee's license to the Software.</p>

<p>1.3. Licensee hereby grants LoopJoy a limited, non-transferable, non-sublicensable, non-exclusive, royalty free license to use Licensee's App trademark(s) and/or logo and/or artwork and/or design and/or brands (the "Trademark") only in connection with merchandise to be sold by the Parties to users of the Combined App (as defined below), which shall be facilitated by combining the App and the Software. </p>

<p><b>2. The App. </b>Licensee acknowledges that the term "App" as used herein refers solely to a mobile software application which is used in connection with a mobile device (such as a smart phone) or device (such as a tablet). Licensee represents and warrants that: (i) Licensee is the owner of, or has obtained all of the necessary rights to use, develop and distribute, the App; (ii) Licensee's App does not infringe any copyright, patent, trade secret, or other proprietary or intellectual property right of any third party, (iii) as between LoopJoy and Licensee, Licensee shall be fully and solely responsible for Licensee's App and any related warranties or support to Licensee's App users; (iv) as between LoopJoy and Licensee, Licensee shall be fully and solely responsible for the distribution of its App and complying with any terms and conditions imposed by a third party mobile application distribution platform, such as the Apple App Store; (v) Licensee's App is not unlawful, does not violate any law and is not otherwise inappropriate; and (iv) Licensee's App does not contain software viruses, or other harmful computer code, files or programs. Licensee retains all title, ownership rights and intellectual property rights in and to the App (but not including any Software as incorporated therein). </p>

<p><b>3. Ownership and Title.</b> The Software is licensed, not sold. As between the parties, all title, ownership rights, and intellectual property rights (including all copyrights, patents, trade secret rights and trademarks) in and to the Software and all copies thereof, and any related documentation, including any modifications and derivative works of the foregoing, shall remain in and with LoopJoy. Licensee's possession, installation, or use of the Software does not transfer to Licensee any title to the intellectual property in the Software, and Licensee will not acquire any rights to the Software except as expressly set forth in this Agreement. All rights not specifically granted in this Agreement are reserved by LoopJoy. LoopJoy does not transfer or grant Licensee permission to use any of LoopJoy's trademarks, trade names or service marks in connection with Licensee's licensing of the Software.</p>

<p><b>4. In-App Goods Purchases. </b></p>

<p>4.1. LoopJoy shall be in charge of selecting and contracting with manufacturers of such goods and merchandise as set forth in <b>Exhibit A</b> attached hereto (the "Goods"), which list may change from time to time subject to the mutual agreement of the Parties, and contract such other service providers for the manufacturing, printing, packaging and shipping of the Goods bearing the Trademark. Notwithstanding the aforementioned, LoopJoy shall be entitled to perform any of the above services instead of contracting a third party service provider, at its sole discretion and determination.</p>

<p>4.2. LoopJoy shall have sole discretion to set the terms and conditions related to any sales of Goods, including without limitation, the purchase price, payment terms, warranty terms and/or any other terms of purchase. LoopJoy may accept or reject any purchase order(s) for Goods, in its sole discretion.</p>

<p>4.3. LoopJoy shall select and contract with service providers providing in-app purchase payment acceptance services (such as Paypal). All funds accepted by such service shall be provided to LoopJoy to be used for the purchase, manufacturing, printing, packaging and shipping of the Goods to the Combined App's users purchasing such Goods.</p>

<p>4.4. The Parties shall share the Net Profits (as defined below) arising from the sale of the Goods as follows (the following profit sharing terms being special terms rather than the standard LoopJoy profit sharing rates of 40% of Net Profits to Licensee and 60% of Net Profits to LoopJoy): (i) LoopJoy shall be entitled to fifty percent (50%) of the Net Profits generated from the sale of the Goods; and (ii) Licensee shall be entitled to fifty percent (50%) of the Net Profits generated from the sale of the Goods. For the purposes of this Agreement, the term "Net Profits" shall mean the aggregate funds actually received by LoopJoy (exclusive of sales, use, excise and other taxes (“other taxes” as used herein shall not include income taxes or any other tax levied on the Company with regard to gain and/or profit, or other tax that is not levied on the Company with regard to the said sales)) from the sale of the Goods, less any costs associated with such sale of Goods such as (a) manufacturing, printing (including any setup charges per each design), packaging, kitting, shipping and handling costs, duty or other taxes associated with the inventory, any inventory storage costs; (b) costs of establishing/contracting a third party service provider and maintaining a customer service/call center; (c) payment acceptance service fees (such as PayPal, credit companies or the like); (d) legal fees covering claims in connection of the Goods or which arise from this Agreement and any payments in connection with judgments or settlements of such claims; (e) Payment to Fulfillment house for shipping, handling, storage, insurance, customer service; (f) any credits, discounts, rebates and promotional allowances provided to such Goods purchasers; (g) all applicable deductions such as returns, refunds and penalties; and (h) costs of inventory for future anticipated in-app purchases based on actual purchase orders issued by LoopJoy.</p>

<p>4.5. LoopJoy shall pay Licensee , within no later than 45 days after the end of the calendar quarter, its portion of the Net Profits, against receipt of the Licensee’s invoice or any other payment method agreed upon between the parties.</p>

<p>4.6. Following the cessation of the sale of a certain product from the Goods listed in Exhibit A attached hereto, Licensee may elect to purchase all remnant inventory from LoopJoy, at cost plus an amount equal to LoopJoy's expected portion of the Net Profits from the sale of such remnant goods (the "Expected Net Profits"). Licensee may elect to purchase such remnant goods by offsetting the cost plus the Expected Net Profits of such remnant goods from Licensee's then entitlement to the Net Profit.</p>

<p>4.7. LoopJoy shall be entitled to withhold any and all taxes from payments due to Licensee under this Agreement in accordance with any applicable law. Each Party shall bear and shall be solely responsible for payment of any taxes arising in connection with this Agreement. </p>

<p><a name="_Ref317872973"><b>5. Web Based Purchases.</b></a></p>

<p>5.1. In order to diversify the methods of purchase of the Goods and to allow for the purchase of the Goods from other sources which are not the In-App purchase applications which are the subject matter of this Agreement, LoopJoy has developed a web based solution to be added to Licensee’s web site, which will refer the Licensee’s users visiting the Licensee’s web site to the LoopJoy purchase of Goods mechanism which is the subject matter of this Agreement (the “Web Purchases”). </p>

<p>5.2. Licensee and LoopJoy hereby agree that, in the event the Licensee determines it wishes to add such functionality to its web site, the terms and conditions of this Agreement shall apply, <i>mutatis mutandis</i>, with respect to such Web Purchases including, for the avoidance of doubt, all license terms, the obligations of the parties hereto, the warranties and limitations on liability and the revenue sharing mechanisms.</p>

<p><b>6. Obligations of Licensee</b></p>

<p>6.1. Efforts. As time is of the essence, Licensee shall use its best commercial efforts to implement the Software into the App (the "Combined App") and upload the Combined App to the Apple App Store and make it available to all the App's users within seven (7) days following the Effective Date.</p>

<p>6.2. Infringement. Licensee will not use any content or other intellectual property in conjunction with the Software that infringes, misappropriates or violates any intellectual property rights, or that may be deemed to be defamatory, libelous, obscene, inaccurate or injurious to any person.</p>

<p><a name="_Ref317960105">6.3. iOS or Other OS Qualifications</a>. Licensee shall be in charge of verifying that the Combined App meets the requirements of Apple's App Store or any other mobile platform OS. </p>

<p><b>7. Termination. </b>The Parties reserve the right to terminate this Agreement and the licenses granted hereunder at any time upon prior written notice to the other Party of sixty (60) days. Upon any termination of this Agreement, Licensee shall immediately: (i) discontinue use of the Software; (ii) cease to distribute versions of the App which include the Software; and (iii) remove the Software from all hard drives, networks and other storage media and destroy all copies of the Software in Licensee's possession or under Licensee's control. Upon LoopJoy's request Licensee shall within fourteen (14) days certify destruction of all copies of the Software in Licensee's possession or under Licensee's control. </p>

<p><b>8. Effect of Termination. </b>Termination of this Agreement for any reason will not terminate the rights of existing customers of the Goods to receive such Goods that were purchased prior to the termination of this Agreement. Sections 1.2 ('License Restrictions'), 2 ('The App'), 3 ('Ownership and Title'), 8 ('Warranty Disclaimer'), 9 ('Limitation of Liability'), 10 ('Indemnification'), and 12 ('Export Restrictions') to 14 ('General') shall survive the termination of this Agreement.</p>

<p><b>9. Warranty Disclaimer. </b>THE SOFTWARE IS PROVIDED TO YOU ON AN “AS IS” BASIS, WITHOUT ANY REPRESENTATIONS OR WARRANTIES WHATSOEVER. LOOPJOY EXPRESSLY DISCLAIMS, AND LICENSEE HEREBY EXPRESSLY WAIVES, ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SOFTWARE OR THE USE OR INABILITY TO USE THE SOFTWARE, INCLUDING WITHOUT LIMITATION, WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE AND WARRANTIES AS TO ANY RESULTS TO BE OBTAINED FROM ANY USE OF THE SOFTWARE OR INFORMATION TO BE DERIVED THEREFROM. LOOPJOY DOES NOT WARRANT THAT THE SOFTWARE WILL OPERATE ERROR-FREE, THAT THE SOFTWARE IS FREE OF VIRUSES OR OTHER HARMFUL MECHANISMS OR THAT LOOPJOY WILL CORRECT ANY ERRORS IN THE SOFTWARE. LOOPJOY DISCLAIMS ANY AND ALL RESPONSIBILITY OR LIABILITY FOR THE ACCURACY, CONTENT, COMPLETENESS, LEGALITY, RELIABILITY, OR OPERABILITY OR AVAILABILITY OF THE SOFTWARE.THE ENTIRE RISK AS TO THE RESULTS AND PERFORMANCE OF THE SOFTWARE IS ASSUMED BY LICENSEE. </p>

<p><b>10. Limitation of Liability.</b></p>

<p>10.1. TO THE FULLEST EXTENT PERMISSIBLE BY LAW, LOOPJOY SHALL NOT BE LIABLE FOR ANY INDIRECT, EXEMPLARY, SPECIAL, CONSEQUENTIAL, PUNITIVE OR INCIDENTAL DAMAGES OF ANY KIND (INCLUDING, WITHOUT LIMITATION, FOR LOST PROFITS OR REVENUE, LOSS OF GOODWILL, LOSS OF DATA OR COMPUTER OR DEVICE FAILURE) ARISING OUT OF THIS AGREEMENT, IN CONNECTION WITH THE GOODS OR IN CONNECTION WITH THE USE OF OR INABILITY TO USE THE SOFTWARE, EVEN IF LOOPJOY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. </p>

<p>10.2. IN NO EVENT SHALL THE AGGREGATE LIABILITY OF LOOPJOY FOR ANY DAMAGES UNDER THIS AGREEMENT, OR IN CONNECTION WITH THE USE OF OR THE INABILITY TO USE THE SOFTWARE, EXCEED LOOPJOY'S PORTION OF THE NET PROFITS GENERATED DURING THE THREE (3) MONTHS PRIOR TO BRINGING THE CLAIM.</p>

<p><b>11. Indemnification. </b></p>

<p>11.1. Licensee agrees to indemnify, defend and hold harmless LoopJoy, its officers, directors, employees, agents, consultants, advisors, shareholders, and licensors from and against any losses, damages, fines and expenses (including attorneys’ fees and costs) arising out of or relating to any third party claims that arises from or are in connection with: (i) Licensee's violation of any terms of this Agreement; (ii) Licensee's use of the Software; and/or (iii) the App. LoopJoy shall provide Licensee with written notice of the claim, permit Licensee to control the defense, settlement, adjustment or compromise of any such claim, and reasonably cooperate with Licensee in the defense and any related settlement action. LoopJoy reserves the right, at its own expense, to assume the exclusive defense and control of any matter subject to indemnification by Licensee.</p>

<p>11.2. LoopJoy agrees to indemnify, defend and hold harmless Licensee, its officers, directors, employees, agents, consultants, advisors, shareholders, and licensors from and against any losses, damages, fines and expenses (including attorneys’ fees and costs) arising out of or relating to any third party claims that the Software infringes upon their intellectual property rights. Licensee shall provide LoopJoy with written notice of the claim, permit LoopJoy to control the defense, settlement, adjustment or compromise of any such claim, and reasonably cooperate with LoopJoy in the defense and any related settlement action. Licensee reserves the right, at its own expense, to assume the exclusive defense and control of any matter subject to indemnification by LoopJoy.</p>

<p><b>12. Software Updates</b>. LoopJoy may from time to time (but is not under any obligation to) revise or update the Software. Such updates and revisions will be supplied according to LoopJoy's then-current policies. Unless an update or revision is governed by a separate LoopJoy agreement, the terms of this Agreement shall apply to said update or revision. </p>

<p><b>13. Export Restrictions. </b>Licensee acknowledges that the Software may be subject to international rules that govern the export of software. Licensee agrees to comply with all applicable international and national laws that apply to the Software as well as end-user, end-use and destination restrictions issued by national governments.</p>

<p><b>14. Assignment. </b>This Agreement, and any rights granted hereunder, may not be transferred or assigned by Licensee without LoopJoy's prior written consent. LoopJoy may freely assign this Agreement and all rights and obligations hereunder without the prior written consent of Licensee.</p>

<p><b>15. General. </b>This Agreement represents the complete agreement between the Parties and supersedes all prior agreements and representations related to the subject matter hereof. Section headings are provided for convenience only and have no substantive effect on construction. Nothing herein shall be construed to create any employment relationship or partnership relationship or to authorize any party to enter into any commitment or agreement binding on the other party. This Agreement shall be governed by the laws of the State of New York, without regard to conflicts of law provisions, and the Parties hereby consent to the exclusive jurisdiction of the state and federal courts sitting in New York, New Yorkin connection with any dispute, cause of action or claim arising out of this Agreement. Notwithstanding the foregoing, LoopJoy reserves the right to seek injunctive relief in any court of competent jurisdiction. This Agreement will not be governed by the United Nations Convention of Contracts for the International Sale of Goods, the application of which is hereby expressly excluded. If any provision of this Agreement is held to be unenforceable, this Agreement shall be construed without such provision. The failure by a party to exercise any right hereunder shall not operate as a waiver of such party's right to exercise such right or any other right in the future. This Agreement may be executed in one or more counterparts, all of which shall be considered one and the same agreement and shall become effective when one or more counterparts have been signed by each of the Parties and delivered to the other Party, it being understood that all Parties need not sign the same counterpart. </p>

<br />
<p><b>EXHIBIT A</b></p>

<p><b>List of Goods</b></p>

<p><b>PROPOSED LIST</b></p>

<p>1. Water bottles with design artwork.</p>

<p>2. iPhone/mobile phone cases with design artwork.</p>

<p>3. Stickers with design artwork.</p>

            <br/><br/><br/><br/><br/><br/><br/>
 <center>
 <form action=<%= legal_eula_path%> method="get">
    <P>
   	<input type="hidden" name="accept" value="false" />
	<input type="checkbox" name="accept" value="true">   I Accept The LoopJoy End User License Agreement<br>
    <input type="submit" value="Continue"> 
    </P>
 </form>
</center>
