<html>
<head>
<meta property="og:title" content="LoopJoy - Monetizing Mobile Games" /><meta property="og:type" content="company" /><meta property="og:site_name" content="LoopJoy" /><meta property="og:url" content="http://loopjoy.com" /><meta property="og:image" content="https://launchrock-assets.s3.amazonaws.com/facebook-files/AGsr4aPeUsIHnzw.png" /><meta property="og:description" content="A new way to monetize mobile games. Kewl!" />
<title>
Loopjoy -- Coming Soon
</title>
</head>
<body>
<div rel="O43SHM35" class="lrdiscoverwidget" data-logo="on" data-background="on" data-share-url="loopjoy.com" data-css="loopjoy.com/background"></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script> 
</body>
</html>
