  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
        <h1>LOOPJOY&trade; GENERAL TERMS AND CONDITIONS OF SALE</h1><br/>
            <p>THESE GENERAL TERMS AND CONDITIONS OF SALE ("TERMS") APPLY TO ANY
                PURCHASE(S) YOU ("YOU," OR “YOUR”) MAKE THROUGH (I) THE LOOPJOY IN-APP
                SOFTWARE (THE “SOFTWARE”) MADE AVAILABLE BY LOOPJOY LTD. ("LOOPJOY," “WE,” “US”
                OR “OUR”) THROUGH CERTAIN MOBILE APPLICATIONS (EACH, AN "APP") AND/OR (II)
                THE LOOPJOY ONLINE STORE MADE AVAILABLE THROUGH THE LOOPJOY WEBSITE AT
                WWW.LOOPJOY.COM OR THROUGH ANY OTHER ONLINE MEDIA OPERATED BY LOOPJOY
                (COLLECTIVELY, THE “ONLINE STORE”).
                THE SOFTWARE AND ONLINE STORE ARE
                INDIVIDUALLY AND COLLECTIVELY REFERRED TO AS THE "SERVICE". BY PURCHASING A
                PRODUCT ("PRODUCT") THROUGH THE SOFTWARE OR THE ONLINE STORE, YOU SIGNIFY
                YOUR CONSENT TO (I) THESE TERMS; (II) LOOPJOY'S PRIVACY POLICY (AS DEFINED
                BELOW). ANY PURCHASE YOU MAKE BY USING THE SOFTWARE OR ONLINE STORE IS ALSO
                SUBJECT TO THE LOOPJOY TERMS OF USE AVAILABLE AT: WWW.LOOPJOY.COM/LEGAL/
                TOS.</p>

                <p>1. Ability to Purchase. You may only make a purchase through the Service if you are over the
                age of 13. If you are between 13 and 18 years of age, then you must review these Terms with
                you parent or guardian before making your purchase to make sure that you and your parent or
                guardian understand these Terms and agree to them.</p>

                <p>2. Products. LoopJoy takes commercially reasonable efforts to provide you with accurate Product
                information. However, LoopJoy does not warrant that the Product information or any other content
                on the Service is accurate, reliable, complete or error-free. Should a Product that you purchase
                appear to not conform to the Product information provided as part of the Service’s order process
                ("Order Process"), your sole remedy is to return the Product(s) in unused condition as set forth in
                Section 5 below.</p>

                <p>3. Shipping.</p>

                <p>3.1. Pricing and Expected Delivery Times. Shipping prices may vary depending on the Product's
                weight, the shipping method, the destination, and other factors. Expected delivery times may
                vary depending on the Product, its availability, the shipping method, the destination and other
                factors. The shipping prices and expected delivery times for each Product may vary from time
                to time based on market conditions. LoopJoy shall not be liable for any delay in delivery of
                the Product(s).</p>

                <p>3.2. International Shipping. Due to economic embargoes or restrictions, we may be unable to ship
                to some countries. In the event we are unable to ship to your country, you will be notified by
                email that your order has been canceled, and you will not be charged, or if you have already
                been charged, you will be refunded for the price of the Product. Orders may be subject to
                sales tax, import taxes, customs duties and fees levied by the destination country or state,
                as well as delivery delays due to required customs clearance procedures. You acknowledge
                and agree that any such charges or delays are your sole responsibility and under no
                circumstances shall LoopJoy accept any responsibility or liability for such charges.</p>

                <p>3.3. Notification. Following your completion of the Order Process and successful processing of
                the applicable payment, a confirmation will be sent to you by e-mail. LoopJoy shall have no
                obligation to ship the Product(s) until you have paid in full, and such payment is final and
                approved.</p>

                <p>4. Payment. If you choose to purchase a Product, you agree (i) that we, or one of our service
                providers (such as PayPal) ("Third-Party Service Provider") may charge your credit card for the
                purchase and such other amounts (including shipping fees and any taxes, as applicable) that may
                accrue in connection with the purchase; (ii) to only provide valid and current information for (a)
                yourself; or (b) another person, but only if you have first obtained their express consent to do so;
                (iii) that we may use the tools, software or services of Third-Party Service Providers, to process
                transactions on our behalf and that you shall review and be bound by the terms of use and privacy
                policy of any such Third-Party Service Provider and hold us harmless, and expressly release us,
                from any and all liability arising from your interaction with any such Third-Party Service Provider; and (iv) except as set forth in these terms, all purchases are final and non-cancellable or non-
                refundable.</p>

                <p>5. Return Policy</p>

                <p>5.1. You have the right to return a Product you have ordered in the event of a material defect in
                the Product or its nonconformance to the Product description provided as part of the Order
                Process. In order to return a Product, you must first contact LoopJoy at returns@loopjoy.com
                to request a return number, and then send us the Product in unused condition, along with
                the applicable return number and the packing slip or e-receipt, within fourteen (14) days from
                the delivery of such Product. LoopJoy will send you a replacement Product within reasonable
                time from LoopJoy's receipt of the returned Product and confirmation that it has been
                returned in unused condition, or, if LoopJoy determines in its sole discretion that replacement
                of the Product is not commercially reasonable, LoopJoy or its Third Party Service Provider
                will credit your credit card for the price of Product only (exclusive of any shipping or taxes).</p>

                <p>5.2. Solely in the event LoopJoy is required by the laws applicable in your jurisdiction to offer
                refund or return rights in addition to those set forth in Section 5.1, LoopJoy will provide such
                remedies as required pursuant to such laws and, where permitted, LoopJoy may elect to
                provide one or more alternative remedies.</p>

                <p>6. Intellectual Property Rights. All IP Rights (defined below) in the Products remain the property
                of LoopJoy or our licensors. You agree not to remove, modify, obscure, or add to any trademarks,
                service marks, or logos ("Marks") accompanying or featured on the Products and acknowledge
                that such Marks may be protected by applicable copyright or other intellectual property laws and
                treaties. "IP Rights" means any patents, trademarks, registered designs and all applications for
                registration of them, copyrights or design rights or any right which is similar or analogous to any
                of these. You may not resell any Product, or any portion of a Product, without the explicit written
                consent of LoopJoy.</p>

                <p>7. Warranty Disclaimers. SUBJECT TO THE TERMS AND CONDITIONS OF OUR RETURN POLICY AS EXPRESSLY SET FORTH ABOVE, THE PRODUCTS ARE PROVIDED
                ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT WARRANTIES OF ANY KIND
                INCLUDING, WITHOUT LIMITATION, REPRESENTATIONS, WARRANTIES AND CONDITIONS
                OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-
                INFRINGEMENT, AND THOSE ARISING BY STATUTE OR FROM A COURSE OF DEALING OR
                USAGE OF TRADE.</p>

                <p>8. Limitation of Liability. LOOPJOY SHALL NOT BE LIABLE FOR CONSEQUENTIAL, INDIRECT,
                EXEMPLARY OR PUNITIVE DAMAGES UNDER THESE TERMS OR IN CONNECTION WITH
                THE SALE AND USE OF, OR INABILITY TO USE, ANY PRODUCT. THE TOTAL AGGREGATE
                LIABILITY OF LOOPJOY FOR ANY DAMAGES UNDER THESE TERMS OR IN CONNECTION
                WITH THE SALE AND USE OF, OR INABILITY TO USE, THE PRODUCT, SHALL IN NO EVENT
                EXCEED THE TOTAL AMOUNT PAID BY YOU FOR SUCH PRODUCT<p>

                <p>9. Privacy. We will use any personal information that we may collect or obtain in connection with
                your purchase in accordance with our privacy policy, which is available at www.loopjoy.com/legal/
                privacy ("Privacy Policy"). You agree that we may use personal information that you provide or
                make available to us in accordance with our Privacy Policy.</p>

                <p>10. General. These Terms shall be construed in accordance with and governed by the laws of the
                state of New York, United States, and Purchaser consents to the non-exclusive jurisdiction and
                venue of the United States federal and state courts of the state of New York, and you waive
                all defenses of lack of personal jurisdiction and forum non conveniens. You hereby irrevocably
                waive all right to trial by jury. If any provision of these Terms shall be held to be invalid, illegal or
                unenforceable, such holding shall in no way affect or impair the remaining provisions, and the
                parties shall use their reasonable efforts to substitute valid and enforceable provisions which have
                the closest meaning and purpose as those so held. These Terms and the Privacy Policy set forth
                the entire understanding between you and LoopJoy concerning your purchase of the Products,
                and may not be modified except in a writing signed by LoopJoy. Failure of a party to enforce any of the provisions of these terms will not be construed to be a waiver of the provision, and no
                waiver of any rights hereunder shall be deemed to be a waiver of the same or other right on any
                other occasion. YOU AGREE THAT ANY CAUSE OF ACTION THAT YOU MAY HAVE ARISING
                OUT OF OR RELATED TO YOUR PURCHASE MUST COMMENCE WITHIN ONE (1) YEAR
                AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS
                PERMANENTLY BARRED.</p>

                <p>Last updated: September 25, 2012</p>
            <br/><br/><br/><br/><br/><br/><br/>
          </div>
        </div><!--/span-->
      </div><!--/row-->